# Don't track content of these folders
data/datasets/
experiments/
models/__pycache__/
models/modules/__pycache__/
trained_models/experiments/
.ipynb_checkpoints

# Compiled source #
###################
*.pyc
