# Don't track content of these folders
data/dataset_matlab_SR/
data/datasets/
data/vtest.py
experiments/
models/__pycache__/
models/modules/__pycache__/
trained_models/experiments/
trained_models/big_models/
.ipynb_checkpoints

# Compiled source #
###################
*.pyc
